#header .restaurant-image{
  width: 100%;
  height: 60vw;
  max-height: 400px;
  background-position: center;
  background-size: cover;
}

#header .restaurant-logo{
  height: 45px;
}

#footer{
  display: block;
  text-align: center;
}

#footer img{
  height: 40px;
}
