body{
 padding: 15px
}
#header .first-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .restaurant-logo{
  height: 45px;
}

#header .restaurant-image{
  width: 100%;
  height: 60vw;
  max-height: 400px;
  background-position: center;
  background-size: cover;
}

#reservation .one-day{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#big-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#big-buttons .one-big-button{
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: 10px 0px;
  width: 100%;
  margin-top:10px;
}

#footer{
  display: block;
  text-align: center;
}

#footer img{
  height: 40px;
}
